@model Requisito
@{
    ViewData["Titulo"] = "GESTI\u00D3N DE REQUISITOS";
    ViewData["Subtitulo"] = "Detalles";

}
@section Migas{
    <li><a asp-action="Index">Requisitos</a></li>
    <li class="active">Detalles</li>
}

<table class="table">
    <thead>
        <tr>
            <th width="50%">CAMPO</th>
            <th width="50%">VALOR</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><label asp-for="Documento.RequisitoLegal.IdOrganismoControl" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.Documento.RequisitoLegal.OrganismoControl.Nombre)</td>
        </tr>

        <tr>
            <td><label asp-for="Documento.IdRequisitoLegal" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.Documento.RequisitoLegal.Nombre)</td>
        </tr>

        <tr>
            <td><label asp-for="IdDocumento" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.Documento.Nombre)</td>
        </tr>

        <tr>
            <td><label asp-for="IdCiudad" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.Ciudad.Nombre)</td>
        </tr>

        <tr>
            <td><label asp-for="IdProceso" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.Proceso.Nombre)</td>
        </tr>

        <tr>
            <td><label asp-for="IdActorDuennoProceso" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.ActorDuennoProceso.Nombres)</td>
        </tr>

        <tr>
            <td><label asp-for="IdActorResponsableGestSeg" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.ActorResponsableGestSeg.Nombres)</td>
        </tr>

        <tr>
            <td><label asp-for="IdActorCustodioDocumento" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.ActorCustodioDocumento.Nombres)</td>
        </tr>

        <tr>
            <td><label asp-for="FechaCumplimiento" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.FechaCumplimiento)</td>
        </tr>

        <tr>
            <td><label asp-for="FechaCaducidad" class="negrita"></label></td>
            <td>@{await ViewContext.Writer.WriteAsync(Model?.FechaCaducidad?.ToString("dd/MM/yyyy") ?? "-");}</td>
        </tr>

        <tr>
            <td><label asp-for="IdStatus" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.Status.Nombre)</td>
        </tr>

        <tr>
            <td><label asp-for="DiasNotificacion" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.DiasNotificacion)</td>
        </tr>

        <tr>
            <td><label asp-for="EmailNotificacion1" class="negrita"></label></td>
            <td>@Html.DisplayFor(m => m.EmailNotificacion1)</td>
        </tr>

        <tr>
            <td><label asp-for="EmailNotificacion2" class="negrita"></label></td>
            <td>@{await ViewContext.Writer.WriteAsync(Model?.EmailNotificacion2 ?? "-");}</td>
        </tr>

        <tr>
            <td><label asp-for="Observaciones" class="negrita"></label></td>
            <td>@{await ViewContext.Writer.WriteAsync(Model?.Observaciones ?? "-");}</td>
        </tr>
    </tbody>
</table>

<fieldset>
    <legend>Documentaci&oacute;n adicional</legend>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            @{await Html.RenderPartialAsync("_FileDownload", Model?.DocumentoRequisito);}
        </div>
    </div>
</fieldset>